/* ENCABEZADO*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.img-menu {
  width: 32px; /* Ajusta el ancho según tus necesidades */
  height: 32px;
}
/* Contenido principal */
.content {
  flex: 1;
  padding: 20px;
}

/* Estilos del footer */
footer {
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.custom-dropdown-menu {
  width: 250px;
  height: 250px;
  overflow-y: auto; /* Agregar desplazamiento si el contenido excede la altura */
}

.custom-image {
  width: 100px; /* Ajusta el ancho según tus necesidades */
  height: 100px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}

/* Estilos personalizados para el botón de colapso */
.custom-toggler {
  border-color: rgba(255, 255, 255, 0.1); /* Cambia el color del borde */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Cambia el color del icono del botón */
}

.mini-banner {
  background: linear-gradient(
    to right,
    #064b66,
    #00008b
  ); /* Azul claro a azul oscuro */
  padding: 20px;
  color: white; /* Ajusta el color del texto si es necesario */
  text-align: center; /* Centra el texto dentro del banner */
  border-radius: 5px; /* Añade bordes redondeados si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para dar profundidad */
}
.mini-banner h6 {
  color: white;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 576px) {
  .custom-dropdown-menu {
    width: 300px; /* Ajusta el ancho para dispositivos pequeños */
    height: auto; /* Deja que la altura sea automática */
  }

  .custom-image {
    width: 50px; /* Ajusta el ancho para dispositivos pequeños */
    height: 50px; /* Ajusta la altura para dispositivos pequeños */
  }

  .navbar-brand {
    font-size: 1rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .nav-link {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .dropdown-header {
    text-align: center; /* Centra el contenido en dispositivos pequeños */
  }

  .dropdown-item {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .navbar-toggler {
    font-size: 0.875rem; /* Ajusta el tamaño del botón para dispositivos pequeños */
  }
}

/* FIN DEL ENCABEZADO*/

/* PROFILE*/

.custom-image-profile {
  width: 138px;
  height: 184px;
  object-fit: cover;
}

.preview-image {
  max-width: 30%;
  height: auto;
  margin-top: 10px;
  border: 3px solid #ccc;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}
.fons-image {
  background: linear-gradient(
    to right,
    #064b66,
    #050533
  ); /* Azul claro a azul oscuro */
  color: white; /* Ajusta el color del texto si es necesario */
  text-align: center; /* Centra el texto dentro del banner */
  border-radius: 5px; /* Añade bordes redondeados si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para dar profundidad */
  width: 100%;
  height: 220px; /* Establece la altura al 100% del viewport height */
}

/* Media queries para dispositivos pequeños */
@media (max-width: 576px) {
  .custom-image-profile {
    width: 100px;
    height: 100px;
  }

  .card-deck {
    flex-direction: column;
    align-items: center;
  }

  .card-body {
    text-align: center;
  }

  .table {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .table th,
  .table td {
    display: block;
    width: 100%;
    text-align: center;
  }

  .btn {
    width: 100%; /* Hacer que el botón sea de ancho completo */
    margin-bottom: 10px; /* Añadir un poco de espacio debajo del botón */
  }

  .modal-dialog {
    margin: 1rem auto; /* Añadir margen automático para centrar el diálogo modal */
  }
}

/* FIN PROFILE*/

/* CARD DE VISTA DE LAS MATERIAS*/
.small-box {
  position: relative;
  display: block;
  color: #fff;
  border-radius: 0.25rem;
  padding: 10px;
  text-align: center;
  margin-bottom: 1rem;
  height: 110px;
}
.small-box .inner {
  padding: 5px;
}
.small-box .small-box-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: rgba(252, 252, 252, 0.2);
}

.card-container .delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(250, 248, 248, 0.158);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
  transition: background 0.3s;
}
.card-container .delete-btn:hover {
  background: rgba(255, 255, 255, 0.945);
  color: black;
}

.small-box-footer {
  background-color: azure;
}

/* FIN  CARD DE VISTA DE LAS MATERIAS*/
