/* ENCABEZADO*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.img-menu {
  width: 32px; /* Ajusta el ancho según tus necesidades */
  height: 32px;
}
/* Contenido principal */
.content {
  flex: 1;
  padding: 20px;
}

/* Estilos del footer */

.custom-dropdown-menu {
  width: 250px;
  height: 250px;

}

.custom-image {
  width: 100px; /* Ajusta el ancho según tus necesidades */
  height: 100px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}

/* Estilos personalizados para el botón de colapso */
.custom-toggler {
  border-color: rgba(255, 255, 255, 0.1); /* Cambia el color del borde */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Cambia el color del icono del botón */
}

.mini-banner {
  background: linear-gradient(
    to right,
    #064b66,
    #00008b
  ); /* Azul claro a azul oscuro */

  color: white; /* Ajusta el color del texto si es necesario */
  text-align: center; /* Centra el texto dentro del banner */
  border-radius: 5px; /* Añade bordes redondeados si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra para dar profundidad */
  
}
.mini-banner h6 {
  color: white;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 576px) {
  .custom-dropdown-menu {
    width: 300px; /* Ajusta el ancho para dispositivos pequeños */
    height: auto; /* Deja que la altura sea automática */
  }

  .custom-image {
    width: 50px; /* Ajusta el ancho para dispositivos pequeños */
    height: 50px; /* Ajusta la altura para dispositivos pequeños */
  }

  .navbar-brand {
    font-size: 1rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .nav-link {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .dropdown-header {
    text-align: center; /* Centra el contenido en dispositivos pequeños */
  }

  .dropdown-item {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .navbar-toggler {
    font-size: 0.875rem; /* Ajusta el tamaño del botón para dispositivos pequeños */
  }
}

/* FIN DEL ENCABEZADO*/

/* PROFILE*/

.img-thumbnail {
  object-fit: cover;
  border: 3px solid #fff;
}
.card-header {
  
  background-size: cover;
  background-position: center;
  position: relative;
}
.card-header h4 {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}


/* Media queries para dispositivos pequeños */
@media (max-width: 576px) {
  .custom-image-profile {
    width: 100px;
    height: 100px;
  }

  .card-deck {
    flex-direction: column;
    align-items: center;
  }

  .card-body {
    text-align: center;
  }

  .table {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente para dispositivos pequeños */
  }

  .table th,
  .table td {
    display: block;
    width: 100%;
    text-align: center;
  }

  .btn {
    width: 100%; /* Hacer que el botón sea de ancho completo */
    margin-bottom: 10px; /* Añadir un poco de espacio debajo del botón */
  }

  .modal-dialog {
    margin: 1rem auto; /* Añadir margen automático para centrar el diálogo modal */
  }
}

/* FIN PROFILE*/




/* CARD DE VISTA DE LAS MATERIAS*/
.small-box {
  position: relative;
  overflow: hidden;
  height: auto;
}
.small-box h5 {
  font-size: 1.25rem;
}
.small-box .btn {
  border-radius: 5px;
}
.small-box .btn .bi {
  margin-left: 0.5rem;
}
.small-box .delete-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 24px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}
.small-box .delete-btn i {
  color: #fff;
}
.small-box .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.small-box .stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* FIN  CARD DE VISTA DE LAS MATERIAS*/

.card-container {
  margin-bottom: 20px;
}

.card-container .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-container .card:hover {
  transform: scale(1.03);
}

.card-container .card-header {
  background-color: #007bff;
  color: #fff;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.card-container .card-body {
  background-color: #f8f9fa;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.card-container .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-container .card-text {
  font-size: 0.875rem;
}

.card-container .btn {
  background-color: #007bff;
  color: #fff;
}

.card-container .btn:hover {
  background-color: #0056b3;
}

.no-tareas {
  text-align: center;
  margin-top: 20px;
  font-size: 1.125rem;
  color: #6c757d;
}